<footer>
    <div class="f-info mt-5">
        <div class="f-info-socials">
            <a href="www.linkedin.com/in/harsh-gupta-60554b258"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://x.com/?lang=en"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/"><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="f-info-brand">&copy;Havenly Private Limited -Harsh Gupta</div>
        <div class="f-info-links">
            <a href="/privacy">Private</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>